---
title: false
styles: true
---

// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #f9fafa;
$accentColour: #90a781;

// Text colours
$headingColour: #ca4b42;
$bodyColour: #384743;
$linkColour: #90a781;
$hoverColour: #5e6d54;
$focusColour: #e98074;
$captionColour: #e98074;
$white: #ffffff;

// Typography
$bodytype: (
  font-family: "'Bitter', serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: "'Bebas Neue', serif",
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
);

.header {
  height: 100%;
}

.feature {
  height: 100%;
  background-attachment: fixed !important;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    max-width: 100% !important;
  }

  p {
    font-size: 7.5rem;
    color: $headingColour;
  }
}

.feature-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  margin-top: 1rem;
}

.plot {
  width: 100%;
  height: 500px;
  border: none;
  overflow-y: scroll;
}

.plot_map {
  width: 100%;
  height: 450px;
  border: none;
  overflow-y: scroll;
}

.plot_ani {
  width: 100%;
  height: 650px;
  border: none;
  overflow-y: scroll;
}

.box {
  width: 50%;
  float: left;
}

.clear {
  clear: both;
}

// Font import, if you're using a non-standard web font
@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

@import "alembic";
